# Please add IDE-specific files (e.g. .*.sw* from Vim or .idea from IntelliJ)
# to your global config. If you don't have one set up already, you can create
# it using "git config --global core.excludesfile ~/.gitignore".

node
node_modules
target

_build
build
dist
scripts/transit/source/

# Astro dev-server runtime state
.astro/dev.json

# exclude IDE test builds
core/build
ToolExtrasBundle.js
**/out/
